[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/bare"]
	path = themes/bare
	url = https://github.com/orf/bare-hugo-theme.git
[submodule "themes/hugo-theme-itheme"]
	path = themes/hugo-theme-itheme
	url = https://github.com/floyd-li/hugo-theme-itheme.git
